body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  margin-left: 40px;
}

.footer-link a{
  text-decoration: none;
  color: #666;
  line-height: 2;
  font-size: 0.9rem;
}

.footer-link a:hover{
  color: #387ed1;
}

#supportHero{
  background-color : rgb(56, 126, 209);
  color: white;
  padding: 25px 0 60px;
}

#supportHero a{
  color: white;
}

#supportHero h1{
  line-height: 1.4;
}

#supportWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
  padding: 0 150px;
  margin-bottom: 70px;
}

#supportHero input{
  padding: 18px 25px;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
  border: none;

}
